paymentSOAP/src/main/resources/payment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.bp.org/payment/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="pizza"
	targetNamespace="http://www.bp.org/payment/"
	xmlns:bp="http://www.bp.org">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bp.org/">
		<xsd:import schemaLocation="payment.xsd" namespace="http://www.bp.org"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="makePaymentRequestMsg">
    <wsdl:part element="bp:makePaymentRequest" name="payload"/>
  </wsdl:message>
  <wsdl:message name="makePaymentResponseMsg">
    <wsdl:part element="bp:makePaymentResponse" name="payload"/>
  </wsdl:message>
  <wsdl:message name="cancelPaymentRequestMsg">
    <wsdl:part element="bp:cancelPaymentRequest" name="payload"/>
  </wsdl:message>
  <wsdl:message name="cancelPaymentResponseMsg">
    <wsdl:part element="bp:cancelPaymentResponse" name="payload"/>
  </wsdl:message>  
  <wsdl:message name="paymentFaultMsg">
    <wsdl:part element="bp:paymentFault" name="payload"/>
  </wsdl:message>  
  <wsdl:portType name="PaymentCreation">
    <wsdl:operation name="makePayment">
      <wsdl:input message="tns:makePaymentRequestMsg"/>
      <wsdl:output message="tns:makePaymentResponseMsg"/>
      <wsdl:fault message="tns:paymentFaultMsg" name="paymentFault"/>
    </wsdl:operation>
    <wsdl:operation name="cancelPayment">
      <wsdl:input message="tns:cancelPaymentRequestMsg"/>
      <wsdl:output message="tns:cancelPaymentResponseMsg"/>
      <wsdl:fault message="tns:paymentFaultMsg" name="paymentFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentCreationSOAP" type="tns:PaymentCreation">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="makePayment">
      <soap:operation soapAction="http://www.bp.org/pizza/makePayment"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="paymentFault">
      	<soap:fault name="pizzaFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelPayment">
      <soap:operation soapAction="http://www.bp.org/pizza/cancelPayment"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="paymentFault">
      	<soap:fault name="paymentFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>    
  </wsdl:binding>
  <wsdl:service name="PaymentCreationService">
    <wsdl:port binding="tns:PaymentCreationSOAP" name="PaymentCreationPort">
      <soap:address location="http://www.bp.org/payment/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
