pizza-creation/src/main/resources/pizza.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.bp.org/pizza/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="pizza"
	targetNamespace="http://www.bp.org/pizza/"
	xmlns:bp="http://www.bp.org">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bp.org/">
		<xsd:import schemaLocation="pizza.xsd" namespace="http://www.bp.org"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createPizzaRequestMsg">
    <wsdl:part element="bp:createPizzaRequest" name="payload"/>
  </wsdl:message>
  <wsdl:message name="createPizzaResponseMsg">
    <wsdl:part element="bp:createPizzaResponse" name="payload"/>
  </wsdl:message>
  <wsdl:message name="cancelPizzaRequestMsg">
    <wsdl:part element="bp:cancelPizzaRequest" name="payload"/>
  </wsdl:message>
  <wsdl:message name="cancelPizzaResponseMsg">
    <wsdl:part element="bp:cancelPizzaResponse" name="payload"/>
  </wsdl:message>  
  <wsdl:message name="pizzaFaultMsg">
    <wsdl:part element="bp:pizzaFault" name="payload"/>
  </wsdl:message>  
  <wsdl:portType name="PizzaCreation">
    <wsdl:operation name="createPizza">
      <wsdl:input message="tns:createPizzaRequestMsg"/>
      <wsdl:output message="tns:createPizzaResponseMsg"/>
      <wsdl:fault message="tns:pizzaFaultMsg" name="pizzaFault"/>
    </wsdl:operation>
    <wsdl:operation name="cancelPizza">
      <wsdl:input message="tns:cancelPizzaRequestMsg"/>
      <wsdl:output message="tns:cancelPizzaResponseMsg"/>
      <wsdl:fault message="tns:pizzaFaultMsg" name="pizzaFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PizzaCreationSOAP" type="tns:PizzaCreation">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createPizza">
      <soap:operation soapAction="http://www.bp.org/pizza/createPizza"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pizzaFault">
      	<soap:fault name="pizzaFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelPizza">
      <soap:operation soapAction="http://www.bp.org/pizza/cancelPizza"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pizzaFault">
      	<soap:fault name="pizzaFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>    
  </wsdl:binding>
  <wsdl:service name="PizzaCreationService">
    <wsdl:port binding="tns:PizzaCreationSOAP" name="PizzaCreationPort">
      <soap:address location="http://www.bp.org/pizza/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
